* {
  padding: 0;
  margin: 0;
}

.attribution {
  font-size: .7rem;
  color: ghostwhite;
}

.attribution a {
  color: var(--cyan);
  font-weight: bold;
  text-decoration: none;
  transition: opacity 200ms ease-in-out;
}

.attribution a:hover {
  opacity: .8;
}

:root {
  --sblue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --vdblue-mbg: hsl(217, 54%, 11%);
  --vdblue-cbg: hsl(216, 50%, 16%);
  --vdblue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --c-bshadow: .15rem .9rem 1.8rem rgba(0, 0, 0, 0.2);
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  background-color: var(--vdblue-mbg);
  font-weight: var(--fw-300);
}

.card {
  --card-br: 1rem;
  width: 280px;
  margin: 1rem 0;
  padding: 1.5rem;
  box-shadow: var(--c-bshadow);
  background-color: var(--vdblue-cbg);
  border-radius: var(--card-br);
  font-size: 1rem;
}

.card__btn-view {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.card__img-item-overlay {
  transition: background-color 500ms ease-in-out;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--card-br);
}

.card__btn-view:hover .card__img-item-overlay {
  --cyan: hsla(178, 100%, 50%, 50%);
  background-image: url('img/icon-view.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--cyan);
}

.card__img-item {
  display: block;
  border-radius: var(--card-br);
  width: 100%;
}

.card__title,
.card__title a,
.card__link-author {
  color: var(--white);
}

.card__subtitle,
.card__countdown,
.card__credits {
  color: var(--sblue);
}

.card__title {
  font-weight: var(--fw-600);
  margin: 1rem 0;
  font-size: 1.45rem;
}

.card__title a {
  text-decoration: none;
}

.card__title a:hover {
  color: var(--cyan);
}

.card__subtitle {
  line-height: 1.6;
}

.card__pricing,
.card__pricing span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__pricing {
  margin: 1rem 0;
}

.card__price,
.card__countdown {
  font-weight: var(--fw-400);
}

.card__price {
  color: var(--cyan);
}

.card__pricing img {
  margin-right: .5rem;
}

.card__h-line {
  border-bottom: .1rem inset var(--vdblue-line);
}

.card__footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.card__credits {
  font-size: .95rem;
}

.card__img-avatar {
  height: 2rem;
  border: .1rem solid var(--white);
  border-radius: 100%;
  margin-right: 1rem;
}

.card__link-author {
  text-decoration: none;
  transition: opacity 200ms ease-in-out;
}

.card__link-author:hover {
  opacity: .8;
  color: var(--cyan);
}

.card__popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.card__popup img {
  display: block;
  margin: auto;
  width: 80%;
  display: flex;
  align-content: center;
  box-shadow: var(--c-bshadow);
}

.card__popup button {
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: var(--fw-600);
  cursor: pointer;
  border: .1rem dotted white;
  transition: opacity 200ms ease-in-out,
    background-color 200ms ease-in-out,
    color 200ms ease-in-out;
}

.card__popup button:hover,
.card__popup button:focus {
  opacity: .8;
  background-color: black;
  color: var(--cyan);
}

.display--flex {
  display: flex;
}

@media screen and (min-width: 600px) {
  .card {
    width: 300px;
    font-size: 1rem;
  }

  .card__credits {
    font-size: 1rem;
  }
}