* {
  padding: 0;
  margin: 0;
}

:root {
  --vddblue: hsl(238, 29%, 16%);
  --sred: hsl(14, 88%, 65%);
  --bgg-sviolet: hsl(273, 75%, 66%);
  --bgg-sblue: hsl(240, 73%, 65%);
  --vdgblue: hsl(237, 12%, 33%);
  --lgblue: hsl(240, 5%, 91%);
  --fw-400: 400;
  --fw-700: 700;
}

.attribution {
  font-size: .7rem;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

.attribution a {
  color: whitesmoke;
  font-weight: var(--fw-700);
  text-decoration: none;
  transition: opacity 200ms ease-in-out;
}

.attribution a:hover {
  opacity: .8;
}

body {
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--bgg-sviolet) 40%, var(--bgg-sblue));
  background-size: contain;
  background-attachment: fixed;
}

.card {
  width: 15rem;
  background-color: white;
  margin: 1rem 0;
  padding: 3rem 2rem;
  border-radius: 1rem;
  font-size: .8rem;
  position: relative;
}

.card__img-primary {
  width: 80%;
  height: 100%;
  position: absolute;
  top: -55%;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url('img/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: 0 70%;
}

.card__wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 3.5rem;
}

.card__title {
  text-align: center;
  font-size: 2rem;
}

.card__detail[open] {
  font-weight: var(--fw-400);
}

.card__detail[open] .card__summary {
  padding-bottom: 1rem;
  font-weight: var(--fw-700);
}

.card__detail[open] .card__summary img {
  transform: rotate(.5turn);
  object-position: left;
}

.card__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--vddblue);
  width: 100%;
  list-style: none;
  font-size: .7rem;
  height: .7rem;
  transition: color 100ms ease-in-out;
}

.card__summary img {
  object-fit: contain;
  object-position: right;
  height: .35rem;
}

.card__summary:hover {
  color: var(--sred);
}

.card__detail {
  padding: 1rem 0;
  border-bottom: .1rem solid hsla(237, 12%, 85%);
  color: var(--vdgblue);
  font-size: .65rem;
}


@media screen and (min-width: 600px) {
  .card {
    display: flex;
    align-items: center;
    width: 85vw;
    max-width: 45rem;
  }

  .card__wrapper {
    padding: 0;
  }

  .card__title {
    text-align: left;
  }

  .card__img-primary {
    position: relative;
    width: 50%;
    background-position: 0 150%;
    background-image: none;
    margin-right: 5%;
  }

  .card__wrapper {
    width: 50%;
  }
}