* {
  padding: 0;
  margin: 0;
}

:root {
  --vdblue: hsl(233, 47%, 7%);
  --ddblue: hsl(244, 38%, 16%);
  --sviolet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --stwhite-paragraph: hsla(0, 0%, 100%, 0.75);
  --stwhite-stats: hsla(0, 0%, 100%, 0.6);
  --fw-700: 700;
  --fw-400: 400;
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

.attribution a {
  color: hsl(280, 45%, 44%);
  transition: opacity 200ms ease-in-out;
  text-decoration: none;
  font-weight: var(--fw-700);
}

.attribution a:hover {
  opacity: .8;
}

body {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--vdblue);
}

.card {
  width: 800px;
  height: 350px;
  display: flex;
  margin: 1rem 0;
  background-color: var(--ddblue);
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 2px 12px 24px rgba(0, 0, 0, 0.2);
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
  width: 50%;
}

.card__title,
.card__feature span {
  font-family: 'Lexend Deca', sans-serif;
}

.card__description {
  width: 90%;
  font-size: 1.2rem;
}

.card__title {
  font-size: 1.5em;
  color: var(--white);
  line-height: 1.2;
}

.card__title span {
  color: var(--sviolet);
}

.card__subtitle {
  font-size: .65em;
  line-height: 1.6;
  margin-top: 1.5rem;
  color: var(--stwhite-paragraph);
  width: 39ch;
}

.card__features {
  font-size: 1.3rem;
  margin-top: 2rem;
  color: var(--white);
  font-weight: var(--fw-700);
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.card__feature span {
  color: var(--stwhite-stats);
  font-weight: normal;
  display: block;
  text-transform: uppercase;
  margin-top: .3rem;
  font-size: .55em;
}

.card__picture {
  position: relative;
  width: 50%;
}

.card__overlay,
.card__img {
  width: 100%;
  height: 100%;
}

.card__overlay {
  position: absolute;
  display: block;
  background-color: var(--sviolet);
  filter: contrast(1.6) brightness(.6) opacity(.6);
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: right;
}

@media screen and (max-width: 900px) {

  .card {
    width: 700px;
    height: 250px;
  }

  .card__wrapper {
    width: 50%;
  }

  .card__picture {
    width: 50%;
  }

  .card__description {
    font-size: .95rem;
    width: 85%;
  }

  .card__features {
    width: 60%;
    font-size: .85rem;
    margin-top: 1.2rem;
  }
}

@media screen and (max-width: 700px) {

  .card,
  .card__wrapper,
  .card__features {
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 85vw;
    height: 100%;
    flex-direction: column-reverse;
    text-align: center;
  }

  .card__wrapper,
  .card__picture,
  .card__subtitle {
    width: 100%;
  }

  .card__wrapper {
    box-sizing: border-box;
  }

  .card__description {
    font-size: 4vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card__features {
    font-size: 4vw;
    text-align: center;
    flex-direction: column;
  }

  .card__feature span {
    margin-bottom: .8rem;
  }
}

@media screen and (max-width: 375px) {
  .card {
    width: 300px;
  }

  .card__wrapper {
    padding: 2rem 1rem;
    box-sizing: border-box;

  }

  .card__description {
    font-size: 1rem;
  }

  .card__subtitle {
    font-size: .9em;
    width: 29ch;
  }

  .card__features {
    font-size: 1rem;
  }
}